<div class='container'>
  <div class='row'>
  <% obj.each do |article| %>
    <div class="col-md-6">
      <h2><%= article.title %></h2>
      <div class='article-meta-details'>
        <small>Created by: <%= article.user.username if article.user %>,
          <%= time_ago_in_words(article.created_at) %> ago,
          last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
      </div>
      <p><%= truncate(article.description, length: 100) %></p>
      <%= link_to 'Read it', article_path(article), class: 'btn btn-secondary' %><hr>
    </div>
  <% end %>
  </div>
</div>
