<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <h1><%= @article.title %></h1>
      <p><%= @article.description %></p>

      <hr>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
      <%= link_to 'View all articles', articles_path, class: 'btn btn-primary' %>
      <%= link_to 'Delete', article_path(@article), class: 'btn btn-danger',
                            method: :delete,
                            data: { confirm: 'Are you sure you want to delete?' } %>
    </div>
  </div>
</div>
